.Home {
  width: 100vw;
}

.nav-home {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-main {
  width: 100vw;
  text-align: center;
}
